<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <h1>{{ product }}</h1>
    <img :src="image" style="width: 150px; height: auto">
    <p>{{ description }}</p>
    <p v-if="inStock">In stock</p>
    <p v-else>Out of stock</p>
    <ul>
        <li v-for="detail in details">{{ detail }}</li>
    </ul>
    <div v-for="variant in variants" :key="variant.id">
        {{variant.color}}
    </div>
    <div v-for="size in sizes">{{size}}</div>
    <a :href="url">Vue Mastery</a>
</div>
<!-- Import App -->
<script src="./main.js"></script>
<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>
